*.o
*.hi

vendor/sell/*
!vendor/sell/README.md
index.php
holy-grail.css

vendor/buy/*
!vendor/buy/README.md

sonar.ogg
bark.ogg
drip.ogg
dialog-error.ogg
glass.ogg

public/assets-proper/logo*.*
public/assets-proper/info*.png
public/assets-proper/info*.svg

public/assets-proper/battering-ram*.png
public/assets-proper/battering-ram*.svg
public/assets-proper/brick*.png
public/assets-proper/brick*.svg
public/assets-proper/pickaxe*.png
public/assets-proper/pickaxe*.svg
public/assets-proper/bucket*.png
public/assets-proper/bucket*.svg
public/assets-proper/door-and-window-detached.svg
public/assets-proper/window-detached.png
public/assets-proper/door-detached.png
public/assets-proper/door-and-window-attached.svg
public/assets-proper/window-attached.png
public/assets-proper/door-attached.png
public/assets-proper/door-attached2.png

#favicon?

doc/look-of-the-old-planner.png

public/img-vendor/*
!public/img-vendor/README.md
