*.o
*.hi

floor-plan-designer/vendor/sell/*
!floor-plan-designer/vendor/sell/README.md
floor-plan-designer/app.php/view.php
holy-grail.css

floor-plan-designer/vendor/buy/*
!floor-plan-designer/vendor/buy/README.md

sonar.ogg
bark.ogg
drip.ogg
dialog-error.ogg
glass.ogg

floor-plan-designer/public/assets-proper/logo*.*
floor-plan-designer/public/assets-proper/info*.png
floor-plan-designer/public/assets-proper/info*.svg

floor-plan-designer/public/assets-proper/battering-ram*.png
floor-plan-designer/public/assets-proper/battering-ram*.svg
floor-plan-designer/public/assets-proper/brick*.png
floor-plan-designer/public/assets-proper/brick*.svg
floor-plan-designer/public/assets-proper/pickaxe*.png
floor-plan-designer/public/assets-proper/pickaxe*.svg
floor-plan-designer/public/assets-proper/bucket*.png
floor-plan-designer/public/assets-proper/bucket*.svg
floor-plan-designer/public/assets-proper/door-and-window-detached.svg
floor-plan-designer/public/assets-proper/window-detached.png
floor-plan-designer/public/assets-proper/door-detached.png
floor-plan-designer/public/assets-proper/door-and-window-attached.svg
floor-plan-designer/public/assets-proper/window-attached.png
floor-plan-designer/public/assets-proper/door-attached.png
floor-plan-designer/public/assets-proper/door-attached2.png

#favicon?

floor-plan-designer/doc/look-of-the-old-planner.png

floor-plan-designer/public/img-vendor/*
!floor-plan-designer/public/img-vendor/README.md

floor-plan-designer/public/var/*
!floor-plan-designer/public/var/README.md

floor-plan-designer/doc/demo-scenario/demo-secenario.aux
floor-plan-designer/doc/demo-scenario/demo-secenario.dvi
floor-plan-designer/doc/demo-scenario/demo-secenario.log
floor-plan-designer/doc/demo-scenario/demo-secenario.pdf
floor-plan-designer/doc/demo-scenario/demo-secenario.toc

floor-plan-designer/obsolete/*
