table, th, td {
	border: 1px black solid;
	border-collapse: none;
}

td[colspan="2"] {
	text-align: center;
}

td.error {
	color: red;
	font-weight: bold;
	width: 23em;
}

caption {
	color: white;
	background-color: black;
	height: 1.5em;
	font-family: monospace;
}
