table, th, td {
	border: 1px black solid;
	border-collapse: none;
}

td[colspan="2"] {
	text-align: center;
}

td.error {
	color: red;
	font-weight: bold;
	width: 22em;
}

option.choose {
	background-color: lightgray;
}

caption {
	color: white;
	background-color: black;
	height: 1.5em;
	font-family: monospace;
}

[disabled] {display: none;}

*.nonempty {
	font-weight: 900;
	background-color: lightgray;
}
*.empty    {font-weight: 100;}
